$red: #a82626;
$blue: #002D62;
$gray: #aaaaaa;
$white: #ffffff;
$black: #000000;
$green: #1b7d0e;
$yellow: #e4c527;

$redActive: #db5454;
$blueActive: #a5bfee;
$grayActive: #e2e2e2;
$BlackActive: #545151;
$greenActive: #5ba851;
$yellowActive: #cbbc6c;
$background: linear-gradient(90deg, #115CA3 0%, #80B4E3 46.16%, #224E76 100%);